/* css/styles.css */
/* Import the custom font */
@font-face {
    font-family: 'Reenie Beanie';
    src: url('../fonts/ReenieBeanie-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    overflow: auto;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

/* For Chrome, Safari, and other WebKit browsers */
html::-webkit-scrollbar {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../images/landingpagebackground5.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #000; /* Black text */

}

.navbar {
    background-color: rgba(255, 255, 255, 1); /* White with 80% opacity */
    overflow: hidden;
    position: relative;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 10px 0;
    border-bottom: 2px solid #000;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

.navbar-menu li {
    float: none;
}

.navbar-menu li a {
    display: block;
    color: #000; /* Black text */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar-menu li a:hover {
    background-color: rgba(1, 1, 1, .8); /* Slight darkening on hover */
    color: white;
}

.navbar-toggle {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    padding: 14px 16px;
    position: absolute;
    right: 0;
}

.landing-content {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 60vh;
    box-sizing: border-box;
    font-family: 'Reenie Beanie', Arial, sans-serif; /* Apply the custom font */
}

.content-box {
    background-color: rgba(255, 255, 255, .1); /* White with 80% opacity */
    padding: 20px;
    text-align: center;
    max-width: 100;
    width: 100%;
}

.content-box h1,
.content-box p {
    color: #000; /* Black text */
    margin: 20px 0;

}

.content-box p {
  font-size: 1.8em;
}

.whitepaper {
    position: relative;
    z-index: 1; /* Ensure it's above the main content but below the navbar */
    overflow-y: auto; /* Enable scrolling for content inside */
    line-height: 1.6;
    display: flex;
    align-items: center ;
    flex-direction: column;
}
.blog-content {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 4em;
  width: 60%; /* Covering 60% of the width */
  background-color: rgba(255, 255, 255, 0.95); /* Semi-transparent white */
}

.blog-post h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date {
    white-space: nowrap; /* Prevents the date from breaking into multiple lines */
    margin-left: auto; /* Pushes the date to the right */
    font-size: .5em;
}

.images-container {
    display: flex; /* Enables flexbox layout */
    justify-content: center; /* Centers the flex items horizontally */
    align-items: center; /* Aligns items vertically in the center, if needed */
    width: 40%; /* Takes the full width of its parent */
    margin: 0 auto; /* Additionally centers the container itself if it has a specific width */
}

.image {
    margin: 10px; /* Adds space between the images */
    max-width: 100%; /* Ensures images are responsive and do not overflow their container */
    height: auto; /* Maintains aspect ratio */
}
/* Responsive Menu */
@media screen and (max-width: 600px) {
  body {
    background: url('../images/landingpagebackground4.jpg') no-repeat center center fixed;
  }

    .navbar-toggle {
        display: block;
    }

    .navbar-menu {
        flex-direction: column;
    }

    .navbar-menu.show {
        display: flex;
    }

    .navbar-menu li {
        width: 100%;
    }

    .navbar-menu li a {
        text-align: center;
        padding: 14px;
    }

    .content-box h1 {
        font-size: 2em;
    }

    .content-box p {
        font-size: 1em;
    }

  .whitepaper {
    width: 100%;
  }

    .blog-content {
        width: 80%; /* Covering 60% of the width */
    }

    .images-container {
        flex-direction: column; /* Stacks images vertically on smaller screens */
        width: 80%; /* Takes the full width of its parent */
    }
}
